<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <h1>Vocab quiz</h1>

    <button id="start">Start</button>

    <p id="questNumber">##/##</p>

    <p id="question">Question text</p>

    <input autocomplete="off" type="text" id="input">
    <button id="enter">Enter</button>
    <button id="next">Next</button>

    <p>Your answer</p>
    <p id="output">Correct / Incorrect</p>

    <p>Answer</p>
    <p id="answerText">Hover to reveal answer</p>

    <script src="../database/sample.js"> </script>

    <script src="../js/test.js"></script>
</body>
</html>